html,body{
  padding:0;
  margin:0;
  background-image: url("naruto-series-animerulz-bg-3.webp");
  background-size: auto;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
@media only screen and (min-width:1300px){
  .html,body{
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width:1000px){
  .html,body{
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.heading{
  padding-top: 10px;
  padding-left: 10px;
  height:60px;
  float:left;
}
.headingdiv{
  background-color: rgba(0,0,0,1);
  height: 80px;
}
button{
  margin: 0em;
  padding: 0;
  border-width:0;
  border-color:none;
  border-image: none;
  margin: 2px solid transparent;
}
a{
  text-decoration: none;
}
button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.7);
}
.audio-change-division button{
  box-shadow: none;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  }
.main-head{
  color: rgba(255, 255, 255, 1);
  margin-left: 30px;
  font-size: 13px;
}

.sub-main{
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
}
.sub-main-info{
  float: left;
  width: 31%;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5px;
  padding: 1% 2% 0% 2%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  height: 445px;
}
.sub-main-video-player{
  margin-left: 35%;
  width: 65%;
  text-align: center;
  height: 445px;
}
.video-player{
  width: 100%;
  height: 450px;
}
.main{
  background-color: rgba(0,0,0,0.4);
  width:92%;
  max-width: 1500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 20px 10px 20px 10px;

}
.top-links{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
} 
.top-links:hover{
  color:#faa300;
}
#top-links-active{
  color: #faa300;
}
h1{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #faa300;
}
.sub-main-info-season{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
}
.sub-main-info-season{
  margin-top:100px;
}
.sub-main-info-text{
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: -10px;
}
.sub-main-info-button-for-seasons{
  height: 35px;
  width:35%;
  margin-left: -45%;
  background-color: #faa300;
  border-radius: 30px;
  font-size: 15px;
}
.sub-main-info-button-for-seasons:hover{
  cursor: pointer;
}
#chivron-up{
  width:16px;
  margin-left: 3px;
  margin-bottom: -2px;
  rotate: 180deg;
  transition: transform 0.5s;
}
.pop-up-for-season-choice{
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top:10px;
  width:100px;
  background-color: #faa300;
  border-radius: 10px;
  margin-left: 60px;
}
#season-number{
  color:rgba(0,0,0,0.8);
  border:0px;
  background: #faa300;
  border-width: 1px;
  margin-bottom: 10px;
  height: 20px;
}
#season-number:hover{
  color:rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.season-episodes{
  margin:10px;
  text-align: left;
  margin-right: auto;
  display: block;
  height: 230px;
  overflow-y: scroll;
  padding-right: 0;
}
table{
  margin-right: 0;
}
.season-episodes-button{
  background-color: rgba(255, 255, 255, 0.6);
  height: 35px;
  width: 50px;
  border-radius: 5px;
  font-size: 17px;
  margin:2px 1px;
}
.season-episodes-button:hover{
  background-color: #faa300;
  cursor: pointer;
}
#episode-active{
  background-color: #faa300;
}
.season-episodes::-webkit-scrollbar{
  width:5px;
}
.season-episodes::-webkit-scrollbar-track{
  background-color: none;
  border-radius: 20px;
}
.season-episodes::-webkit-scrollbar-thumb{
  background-color: #faa300;
  border-radius: 20px;
}
.button-download-now{
  height:35px;
  width:180px;
  border-radius: 20px;
  margin-left: 50%;
  background-color: #66e466c1;
}
#Layer_1{
  height: 20px;
  margin-bottom: -7px;
}
.button-download-now:hover{
  cursor: pointer;
  box-shadow: #faa300;
}
.more-info-about-anime{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 45px;
  background-color: rgba(0,0,0,0.8);
  padding:10px 10px 10px 10px;
  border-radius: 5px;
}
.more-info-text-on-top{
  color: #faa300;
  margin-left: 20px;
  font-size: 13px;
}
.anime-main-image{
  height: 180px;
  margin-left: 20px;
  float: left;
}
.anime-info-text{
  color: rgba(255, 255, 255, 0.8);
  padding:0px 20px 10px 180px;
}
.description{
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
}
.small{
  display: none;
}
.download-links-are-here{
  background-color: rgba(0,0,0,0.6);
  width: 92%;
  max-width: 1500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
}
.download-links-text-on-top{
  color:#faa300;
  font-size: 13px;
  margin-left: 20px;
}
#dot{
  background-color: #faa300;
  margin-bottom: 2px;
}
.download-links-in-download-division{
  margin-right: auto;
  margin-left:auto;
  width:60%;
  background-color: rgba(0,0,0,0.8);
  color:#faa300;
  border-radius: 10px;
  text-align: center;
  padding:0px 10px;
}
.heading-in-download-division{
  text-align: center;
}
.btn-in-download-section{
  width: 33%;
  height: 35px;
  font-size: 100%;
  border-radius: 25px;
  background-color:lavender
}
.btn-in-download-section:hover{
  background-color: rgb(159, 159, 229);
  cursor: pointer;
}
#Capa_1{
  width:20px;
  margin-bottom: -5px;
}
.anime-info-text h2{
  margin-top: 0px;
}
.mega-icon{
  width: 10px;
  height: 10px;
}
.addthis_inline_share_toolbox{
  align-items: center;
  margin-top: 20px;
  height: 100px;
}
.share-text-new{
  color:#faa300;
  margin-left: 20px;
  padding-bottom: 20px;
  line-height: 1.2cm;
}
.image-at-share{
  float: left;
  height:120px;
  margin-top: -30px;
}
.share-text-new-2{
  color:white;
  font-size: 14px;
}
.download-links-are-here .hr-small{
  width:90%;
}
.bottom-in-main{
  margin-top:20px;
  margin-left:5%;
}
.svg-prev{
  height: 15px;
  width: 12px;
  margin-left: -8px;
  margin-bottom: -3px;
}
.prev-nxt-button-in-main{
  height: 35px;
  width:140px;
  background-color: #faa300;
  border-radius: 20px;
}
.svg-nxt{
  rotate: 180deg;
  margin-bottom: -3px;
  height: 15px;
  width: 12px;
  margin-right: -8px;
}
.buttons-in-bottom-main{
  float: left;
  display: flex;
}
.audio-button{
  border-radius: 5px;
  height: 20px;
  background-color:rgba(0,0,0,0.4);
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  padding: 0px 5px 0px 5px;
}
.audio-button:hover{
  cursor: pointer;
}
#active-audio{
  background-color: #faa300;
  color: rgba(0,0,0);
}
.download-now-btn{
  margin-top: 10px;
}
.audio-change-division{
  display: flex;
  overflow: scroll;
  margin-top: 15px;
  margin-left: 35%;
  padding-bottom: 5px;
  width: 65%;
}
.audio-change-division::-webkit-scrollbar{
  width:0px;
  height: 1.5px;
}
.audio-change-division::-webkit-scrollbar-track{
  background-color: none;
  border-radius: 20px;
}
.audio-change-division::-webkit-scrollbar-thumb{
  background-color: #faa300;
  border-radius: 20px;
}
.download-now-lan{
  padding:5px 2px;
}
.txt-download-buttons-lang{
  font-size: 13px;
  color: rgba(255, 255, 255, 0.85);
}
.download-links-are-here hr{
  border-radius: 10px;
  border-color: #beced755;
  width:99%;
}
.txt-download-buttons-lang:hover{
  color:red;
  cursor: pointer;
  text-decoration: underline;
}
.svg-download-btn{
  margin-bottom: -5px;
}
/*Bottom part Start*/
.bottom{
  background:linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url("uchiha_madara_1.webp");
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: -20px;
  background-position-x: right;
  padding-top: 10px;
  }
  @media only screen and (max-width:430px){
    .bottom{
      background-image: url("madara-uchiha-mobile.webp");
    }
  }
  .bottom-heading{
    margin-top: 10px;
  }
  .bottom-heading-logo{
    display: left;
  }
  .followheading{
    display: block;
  }
  .btm-heading{
    height:50px;
    width:180px;
    display: left;
    margin-left: 10px;
  }
  .terms{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin:10px;
  }
  .terms-terms{
    font-size: 20px;
    padding:0;
    margin: 0px 15px;
    color: rgba(255, 255, 255, 0.6);
  }
  p.terms-des{
    margin:0px 15px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.3);
  }
  @media only screen and (max-width:540px){
    .btm-heading{
    margin-top: 10px;
    height:50px;
    width: 250px;
  } 
  }
  @media only screen and (max-width:430px){
    .terms{
      color:rgba(255,255,255,0.8);
    }
    .terms-des{
      color:rgba(255,255,255,0.5);
      font-size: 13px;
    }
    .terms-terms{
      color:rgba(255,255,255,0.7);
    }
  }
  .follow{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    width: 330px;
  }
  .follow-us-txt{
    font-size: 13px;
    color:rgba(255, 255, 255, 0.6);
  }
  .follow-anime-txt{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
  }
  .follow-icons{
    margin-left: 10px;
    padding:5px 0 5px 0;
  }
  .svg-icons-follow{
    height: 40px;
    width: 40px;
  }
  .svg-icons-follow:hover{
    cursor: pointer;
    width: 43.5px;
    height: 43.5px;
    margin-top: -2.5px;
    margin-left: 0;
    margin-right: 0;
  }
/*Bottom part End*/
/*video player part start*/
@media only screen and (min-width:1550px){
  .button-download-now{
    margin-left: 100%;
  }
}
@media only screen and (min-width:1450px){
  .button-download-now{
    margin-left: 90%;
  }
}
@media only screen and (min-width:1300px){
  .button-download-now{
    margin-left: 80%;
  }
}
@media only screen and (max-width:1200px){
.season-episodes-button{
  height :30px;
  width: 45px;
}
.main{
  width: 94%;
}
}
@media only screen and (max-width:1100px){
  .bottom-in-main{
    margin-left: 2%;
  }
  .button-download-now{
    margin-left: 35%;
  }
  .download-links-in-download-division{
    width: 70%;
  }
}
@media only screen and (max-width:1022px){
  .button-download-now{
    margin-left: 20%;
  }
}
@media only screen and (max-width:1000px){
  .season-episodes-button{
    height:35px;
    width:50px;
  }
  .sub-main-info-button-for-seasons{
    width: 40%;
  }
  .button-download-now{
    margin-left: 10%;
  }
}
@media only screen and (max-width:950px){
  .sub-main-video-player{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }
  .sub-main-info{
    margin-top: 495px;
    float: none;
    height: fit-content;
    width: 95%;
    text-align: left;
    padding-bottom: 10px;
  }
  .season-episodes{
    height: auto;
    max-height: 230px;
  }
  .main{
    padding:15px 0;
    width:97%;
    margin-top: 15px;
  }
  .main-head{
    font-size: 12px;
  }
  .headingdiv{
    height: 70px;
  }
  .heading{
    height: 50px;
  }
  .sub-main-info-1{
    width:100%;
  }
  .prev-nxt-button-in-main{
    width: 25%;
    height: 30px;
  }
  .a-button-download-now{
    width: 30%;
  }
  .button-download-now{
    height: 30px;
  }
  .audio-change-division{
    width: 45%;
    margin-left: 55%;
  }
  .download-now-btn{
    width: 50%;
  }
  .episode-text-in-prev-nxt-btn{
    display: none;
  }
  .buttons-in-bottom-main{
    width: 100%;
  }
  .sub-main-info-button-for-seasons{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  .pop-up-for-season-choice{
    text-align: center;
  }
  .more-info-about-anime{
    margin-top: 0px;
  }
  .download-links-in-download-division{
    width: 80%;
  }
}
@media only screen and (max-width:850px){
  .sub-main-info-season{
    font-size: 15px;
  }
  .sub-main-info-text{
    font-size: 14px;
  }
}
@media only screen and (max-width:800px){
  .sub-main-video-player{
    height: 350px;
  }
  .video-player{
    height: 100%;
  }
  .sub-main-info{
    margin-top: 400px;
  }
  .text-download-now-now{
    display: none;
  }
  .a-button-download-now{
    width:35%;
  }
  .button-download-now{
    width: 100%;
  }
  .audio-change-division{
    margin-left: 0;
  }
}
@media only screen and (max-width:550px){
  .sub-main-video-player{
    height: 250px;
  }
  .text-download-now-download{
    display: none;
  }
  .a-button-download-now{
    width: 20%;
  }
  .download-now-btn{
    width:40%;
  }
  .audio-change-division{
    width: 60%;
  }
  .prev-nxt-button-in-main{
    width: 35%;
  }
  .sub-main-info{
    margin-top: 300px;
  }
}
@media only screen and (min-width:1100px){
  .anime-main-image{
    height: 170px;
  }
}
@media only screen and (min-width:1350px){
  .anime-main-image{
    height: 150px;
  }
}
@media only screen and (max-width:900px){
  .description{
    font-size: 12px;
  }
}
@media only screen and (max-width:700px){
  .description{
    font-size: 10px;
  }
  .anime-info-text{
    padding-left: 160px;
  }
  .download-links-in-download-division{
    width: 90%;
  }
}
@media only screen and (max-width:550px){
  .anime-main-image{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .anime-info-text{
    padding-left: 0;
    padding-right: 0;
  }
  .more-info-about-anime{
    text-align: center;
  }
  .more-info-text-on-top{
    text-align: left;
  }
  h2{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  .sub-main-info-button-for-seasons{
    width:30%;
  }
  .sub-main-video-player{
    width:94%;
  }
}
@media only screen and (max-width:450px){
  .prev-nxt-button-in-main{
    font-size: 12px;
  }
  .sub-main-video-player{
    width:93.5%;
  }
  .download-links-in-download-division{
    width: 95%;
  }
}
@media only screen and (max-width:400px){
  .prev-nxt-button-in-main{
    font-size: 11px;
  }
  .svg-prev,.svg-nxt{
    width:10px;
    height: 13px;
  }
  .buttons-in-bottom-main button{
    height: 25px;
  }
  .sub-main-video-player{
    width: 93%;
  }
  .main-head{
    margin-left: 10px;
  }
}
@media only screen and (max-width:330px){
  .follow{
    display: block;
    width:180px;
  }
  .follow-icons{
    margin-left: 0;
  }
  .addthis_inline_share_toolbox{
    margin-left: 10px;
  }
  .image-at-share{
    display: none;
  }
}